<ion-view title="Authenticate" id="page1" class="animated fadeIn">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 88px;"></div>
    <div>
      <img src="img/Y4lxjjCS2abm3fAFCRyu_touch-id-icon.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 42px;"></div>
    <div id="authenticate-markdown1" style="text-align:center;" class="show-list-numbers-and-dots animated slideInLeft">
      <p style="color:#000000;">Click authenticate button to authenticate using your fingerprint. Fingerprint must be registered in your device first it can be use.</p>
    </div>
    <button id="authenticate-button1" class="button button-assertive  button-block icon-right ion-qr-scanner animated flash">Authenticate</button>
  </ion-content>
</ion-view>